@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    ---primary-color: #1C2128;
    ---header-color: #14181C;
    ---second-color: #00a8e9;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: #ffff;
}

/* Header */

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 82px 0 82px;
    width: 100%;
    height: 120px;
    gap: 10%;
    background-color: var(---header-color);
}

header img{
    width: 76px;
    height: 76px;
}

header h1 span{
    color: var(---second-color);
}

.container-logo{
    display: flex;
    align-items: center;
    gap: 22px;
}

/* Main */

main{
    height: calc(100dvh - 126px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(---primary-color);
}

.container-search{
    display: flex;
    flex-direction: column;
    margin-top: 105px;
}

.container-search :first-child{
    font-size: 24px;
    color: var(---second-color);
    font-weight: 500;
    margin-bottom: 18px;
}

.container-search input, .container-search button{
    padding: 17px;
    border-radius: 15px;
    border: none;
}

.container-search input{
    width: 1041px;
}

.container-search button{
    width: 203px;
    position: relative;
    bottom: 49px;
    left: calc(1041px - 203px);
    background-color: #00a8e9;
    font-size: 0.8em;
    font-weight: 500;
    color: #ffff;
}

.cards-container{
    width: 1427px;
    padding: 0 86px 0 86px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cards-row{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.seta{
    width: 48px;
    height: 48px;
}

button{
    background: none;
    border: none;
}

/* Estilização do card */

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 227px;
    text-align: center;
}

.card img{
    width: 227px;
    object-fit: contain;
}

